#qna {
  display: none;
}

.qBox {
  background-color: whitesmoke;
  text-align: center;
  border-radius: 20px;
  font-size: 15px;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
}

.aButton {
  background-color: whitesmoke;
  border-radius: 20px;
  display: block;
  width: 80%;
  border: 0px;
  font-size: 13px;
}

.aButton:hover, .aButton:focus {
  background-color: yellow;
  color: black;
}

.status {
  height: 20px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

.statusBar {
  height: 100%;
  border-radius: 20px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feccb1+0,f17432+50,ea5507+100,feccb1+100,fb955e+100 */
  background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 100%,#feccb1 100%,#fb955e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
}

